.center {
    text-align: center;
    margin: 10% 10%;
    padding: 3% 0;
    border-radius: 12px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.6);
    transition: 0.3s;
    background-color: white;
}

.center:hover {
    box-shadow: 0 12px 24px 0 rgba(0,0,0,0.6);
}

// .background {
//     background-color: rgb(63, 81, 182);
// }